@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #181f2b;
    --foreground: #eee;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  /* Define the thumb style */
  ::-webkit-scrollbar-thumb {
    @apply bg-sky-500;
    border-radius: 2px;
  }
  /* Define the track style */
  ::-webkit-scrollbar-track {
    background-color: #ddd;
    border: 1px solid #ccc;
  }

  /* Define the button style when being hovered over */
  ::-webkit-scrollbar-button:hover {
    background-color: #999999;
  }

  body {
    @apply bg-[var(--background)] text-[var(--foreground)] min-h-svh;
  }

  input,
  textarea,
  button,
  a {
    @apply outline-none py-1 px-2 rounded font-semibold focus:ring-sky-500 focus:ring-4;
  }

  button:disabled {
    @apply opacity-60 cursor-no-drop;
  }

  input,
  textarea {
    @apply text-slate-700 placeholder:italic;
  }

  button {
    @apply text-white;
  }
}

@layer components {
}

@layer utilities {
  .container {
    @apply xl:max-w-[1260px] px-3 md:px-6;
  }
}
